.buyButton {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #000000;
  background-color: #FFDD00;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.6px;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);
  /* font-family: 'Poppins' */
}
.buyButton:hover,
.buyButton:active,
.buyButton:focus {
  text-decoration: none;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
  opacity: 0.85;
  color: #000000;
}

.coffeeImage {
  height: 20px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.coffeeButtonText {
  margin-left: 10px;
  font-size: 1rem;
  vertical-align: middle;
}


@keyframes steam {
  0% {
    opacity: 0;
    transform: translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scaleY(1);
  }
}

.buyButton {
  position: relative;
  /* ...existing styles */
}

.buyButton:hover .steam {
  animation: steam 1s /*cubic-bezier(0.5, 0, 0.5, 1)*/ infinite;
  font-size: 5rem;
}

.steam {
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 10px;
  opacity: 0;
  visibility: hidden; /* Add this line */
  line-height: 0;
  text-shadow: 0 0 5px rgba(204, 204, 204, 0.5);
  filter: blur(1px);
}

.buyButton:hover .steam {
  animation: steam 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  visibility: visible; /* Add this line */
}

.steam > span {
  position: absolute;
  content: "";
  font-family: Arial, sans-serif;
  color: rgba(150, 150, 150, 1);
  animation: inherit;
  text-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
  filter: blur(1px);
}

/* Add dark mode styles for the steam spans */
.dark .steam > span {
  color: #ccc;
  text-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
  filter: blur(1px);
}

.steam > span:nth-child(1) {
  left: -5px;
  animation-delay: -0.6s;
}

.steam > span:nth-child(2) {
  left: 0;
  animation-delay: -1.2s;
}

.steam > span:nth-child(3) {
  left: 5px;
  animation-delay: -1.8s;
}

/* Add the vertical tilde character as the content of the spans */
.steam > span::before {
  content: "\2E2F";
}