.label {
  width: 250px;
  height: 100px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 100px;
  box-shadow: inset 0px 2.5px 7.5px rgba(0, 0, 0, 0.4), inset 0px -2.5px 7.5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.label:after {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 90px;
  box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.2);
}

.input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.input:checked + .label {
  background: #242424;
}

.input:checked + .label:after {
  left: 155px;
  /* transform: translateX(-100%); */
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.label, .label:after {
  transition: 0.3s;
}

.label:active:after {
  width: 130px;
}

.input:checked + .label:active:after {
  left: 115px;
}

/* .label:hover:after {
  width: 130px;
} */

.offcanvas {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.offcanvas ul {
  font-size: 14px;
}

.offcanvas a {
  text-decoration: none;
}

.custom-btn-link {
  color: inherit;
  text-decoration: none;
}

.custom-btn-link:hover {
  color: #6EE7B7;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
  color: #6EE7B7;
}

.custom-link:active {
  color: #6EE7B7;
}

.custom-link:focus {
  color: #6EE7B7;
}


.label img {
  position: absolute;
  width: 60px;
  top:20px;
  z-index: 100;
}
.label .sun {
  left:20px;
  fill:#fff !important;
  transition: 0.3s;
}
.label .moon {
  left:170px;
  fill:#7e7e7e !important;
  transition: 0.3s;
}
.input:checked + .label img.sun {
  fill:#7e7e7e !important;
}
.input:checked + .label img.moon {
  fill:#fff !important;
}


.label svg {
  position: absolute;
  width: 120px;
  top:40px;
  z-index: 100;
}
.label svg.sun {
  left:40px;
  fill:#fff;
  transition: 0.3s;
}
.label svg.moon {
  left:340px;
  fill:#7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill:#7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.moon {
  fill:#fff;
  transition: 0.3s;
}

.test {
  color: inherit; /* Change the color to your desired color */
  background: transparent;
  border: none;
}

.test:hover {
  color: #6EE7B7;
}

.test:focus {
  color: #6EE7B7;
  border: none;
  outline: none; /* Add this line to remove the blue border */
}

.test:active {
  color: #6EE7B7;
  border: none;
}